h1 {
    color: purple;
}

.test {
    background-color: red;
}

.test2 {
    background-color: blue;
    border: solid black;
}

.one {
    font-weight: 1000;
    text-align: end;
}

.two {
    font-weight: bolder;
    text-align: center;
}