* {
    text-align: center;
}

a {
    border: solid black;
    margin: 30px;
    padding: 10px;
    background-color: orange;
}

h1, p, img {
    border: solid 5px;
    padding: 10px;
    background-color: orange;
}

body {
    background-color: slategray;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
